<!DOCTYPE html>
<htmln xmlns:th="http://www.thymeleaf.org"></htmln>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <!-- HEADER -->
        <div th:fragment="header (vista)" class="container-fluid">
            <div class="row">
                <div class="col p-0">
                    <nav class="navbar navbar-expand-lg bg-AzulOscuro navbar-dark">
                        <a th:href="@{/ClientePrincipal}"><img th:src="@{/img/Logotipo.png}" style="height: 60px;"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Menu">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="Menu">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a th:href="@{/ClientePrincipal}" class="nav-link" th:classappend="${vista == 'inicio' ? 'active' : ''}">Inicio</a></li>
                                <li class="nav-item"><a th:href="@{/ClienteServicios}" class="nav-link" th:classappend="${vista == 'servicios' ? 'active' : ''}">Servicios</a></li>
                                <li class="nav-item"><a th:href="@{/ClienteProductos}" class="nav-link" th:classappend="${vista == 'productos' ? 'active' : ''}">Productos</a></li>
                                <li class="nav-item"><a th:href="@{/ClienteSobreNosotros}" class="nav-link" th:classappend="${vista == 'sobreNosotros' ? 'active' : ''}">Sobre nosotros</a></li>
                                <li class="nav-item"><a th:href="@{/ClienteContacto}" class="nav-link" th:classappend="${vista == 'contacto' ? 'active' : ''}">Contacto</a></li>

                                <li class="nav-item">
                                    <a th:text="${usuarioLog.primerNombre} + ' ' + ${usuarioLog.segundoNombre} + ' ' + ${usuarioLog.primerApellido} + ' ' + ${usuarioLog.segundoApellido}" href="#" class="nav-link">Nombre cliente</a>
                                </li>
                                <li>
                                    <img th:src="${usuarioLog.imagen}"
                                     style="height: 40px; width: 40px; border-radius: 50%; object-fit: cover; background-color: white;">
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/}" class="nav-link">Cerrar sesión</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>



        <!-- FOOTER -->
        <div th:fragment="footer" class="conainer-fluid text-center mt-3 p-3 bg-AzulOscuro text-white">
            <div class="row justify-content-around">
                <div class="col-md-3">
                    <p style="vertical-align: middle; margin: 0 auto;">SOMOS BISMUTO SOFTWARE</p>
                    <p style="vertical-align: middle; margin: 0 auto;">Webs corporativas</p>
                    <p style="vertical-align: middle; margin: 0 auto;">Páginas web a medida</p>
                    <p style="vertical-align: middle; margin: 0 auto;">Tiendas online</p>
                </div>
                <div class="col-md-3">
                    <p style="vertical-align: middle; margin: 0 auto;">SIMECAD es una marca registrada. ©2020</p>
                    <p style="vertical-align: middle; margin: 0 auto;">Desarrollado para Funciones Técnicas Diesel</p>
                </div>
                <div class="col-md-3">
                    <p style="vertical-align: middle; margin: 0 auto;">CONTACTO</p>
                    <p style="vertical-align: middle; margin: 0 auto;">www.bissoft.com</p>
                    <p style="vertical-align: middle; margin: 0 auto;">bissoft@gmail.com</p>
                    <p style="vertical-align: middle; margin: 0 auto;">Tel: 36666599</p>
                </div>
            </div>
        </div>

    </body>
</html>
