<!DOCTYPE html>
<htmln xmlns:th="http://www.thymeleaf.org"></htmln>
<html>
    <head>
        <title>Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link th:href="@{/css/estilos.css}" rel="stylesheet">
        <link th:href="@{/css/estiloDashboard.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

        <style th:replace="layout/plantillaAdministrador :: datatablesCSS"></style>

    </head>
    <body>

        <!-- CONTENEDOR -->
        <div class="container-fluid">
            <!-- HEADER -->
            <div th:replace="layout/plantillaAdministrador :: header"></div>
            <!-- LATERAL Y CONTENIDO -->
            <div  class="row" style="min-height: 100vh">
                <!-- LATERAL -->
                <div th:replace="layout/plantillaAdministrador :: lateral (vista = 'consultar usuarios')"></div>
                <!-- CONTENIDO -->
                <div class="col-xl-10 pb-5">
                    <div class="container-fluid" style="width: 100%;">
                        <div class="row justify-content-center mt-5">
                            <div class="col-10 text-center">
                                <h2 class="display-4">Usuarios</h2>
                            </div>
                        </div>
                        <div class="row justify-content-around mt-5">

                            <!-- BARRA DE BÚSQUEDA -->
                            <div class="col-lg-7">
                                <form th:action="@{/EncontrarUsuariosPorNombre}" method="POST">
                                    <div class="input-group">
                                        <input th:value="${nombre}" name="nombre" type="text" class="form-control" placeholder="Nombre del usuario...">
                                        <button type="submit" class="input-group-append input-group-text">
                                            <i class="fa fa-search p-0"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>

                            <!-- BOTÓN CREAR USUARIO-->
                            <div class="col-lg-3">
                                <a th:href="@{/AdministradorCrearUsuario}" class="col btn btn-Verde">Crear usuario <i class="fas fa-plus-square"></i></a>
                            </div>
                        </div>
                        <!-- USUARIOS -->
                        <div class="mt-5 mx-2 table-responsive">
                            <table class="table" id="tablaUsuarios">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Ciudad</th>
                                        <th scope="col">Celular</th>
                                        <th scope="col">Correo</th>
                                        <th scope="col">Rol</th>
                                        <th scope="col">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="persona : ${listaPersonas}">
                                        <th th:text="${persona.primerNombre} + ' ' + ${persona.segundoNombre} + ' ' + ${persona.primerApellido} + ' ' + ${persona.segundoApellido}">Nombre</th>
                                        <td th:text="${persona.ciudad}">Ciudad</td>
                                        <td th:text="${persona.celular}">Celular</td>
                                        <td th:text="${persona.correo}">Correo</td>
                                        <td th:text="${persona.rol}">Rol</td>
                                        <td>
                                            <div class="btn-group btn-group" role="group">
                                                <a th:href="@{/AdministradorModificarUsuario/} + ${persona.idUsuario}" class="btn btn-AzulClaro" type="button">Modificar <i class="fas fa-edit"></i></a>
                                                <a th:href="@{/AdministradorEliminarUsuario/} + ${persona.idUsuario}" class="btn btn-Naranja" type="button">Eliminar <i class="fas fa-trash-alt"></i></a>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="height: 200px;"></div>
            </div>
        </div>
    </div>


    <!-- FOOTER -->
    <div th:replace="layout/plantillaAdministrador :: footer"></div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <div th:replace="layout/plantillaAdministrador :: datatablesScripts"></div>
    <script>
        $(document).ready(function () {
            $('#tablaUsuarios').DataTable({
                dom: 'Bfrtip',
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                },
                buttons: {
                    dom: {
                        button: {
                            className: 'btn btn-Verde'
                        }
                    }, buttons: [
                        {
                            extend: 'copy',
                            text: 'Copiar',
                            filename: function () {
                                return document.title;
                            }
                        },
                        {
                            extend: 'csv',
                            text: 'CSV',
                            filename: function () {
                                return document.title;
                            }
                        }, {
                            extend: 'excel',
                            text: 'Excel',
                            filename: function () {
                                return document.title;
                            }
                        },
                        {
                            extend: 'pdf',
                            text: 'PDF',
                            filename: function () {
                                return document.title;
                            }
                        }, {
                            extend: 'print',
                            text: 'Imprimir',
                            filename: function () {
                                return document.title;
                            }
                        }
                    ]}
            });
        });
        $.fn.dataTable.ext.classes.sPageButton = 'btn btn-Blanco';
        $.fn.dataTable.ext.classes.sPageButtonActive = 'btn btn-Gris';
        $.fn.dataTable.ext.classes.sPageButtonDisabled = 'btn';
    </script>


</body>
</html>